.red{
    width: 100px;
    height: 100px;
    background: red;
}
.green{
    width: 100px;
    height: 100px;
    background: green;
}
.blue{
    width: 100px;
    height: 100px;
    background: blue;
}
.active{
    background: black;
    color: #fff;
}

.bold{
    font-weight: bold;
}