/* ------------------- Common css -------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(12, 12, 14);
    font-family: sans-serif;
    line-height: 1.8;
    color: aliceblue;
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------Fontawesome css ------------------------------*/
.fas{
    font-size: 1.7rem;
}
/* ------------------- /Common css ---------------------------  */
/*---------------------- App css  ------------------------------*/

.app-title {
    text-align: center;
    font-style: italic;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 3px 2px #a86565;
    width: 600px;
    margin: 50px auto 20px;
    border-radius: 5px;
}

.app-container {
    width: 600px;
    max-width: 100%;
    margin: 22px auto;
    min-height: 500px;
    padding: 11px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 3px 2px #a86565;
}

.app-body {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }

.app-body-right{
    display: flex;
    justify-content: center;
    min-width: 270px;
    border: 1px solid gray;
}

/* ----------------------- /App css -------------------------------- */
/* ----------------------- seat-position Controll ------------------ */

.seat-controls {
    display: flex;
    justify-content: space-around;
    border: 1px solid gray;
    padding: 1rem;
}

.seat-position {
    margin: 3px;
    min-height: 5px;
    min-width: 33px;
    display: flex;
}

.seat-position-color{
    width: 2rem;
    border: 1px groove rgb(238, 238, 232);
}

.seat-position-text {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.4;
    margin-left: .5rem;
}
.seat-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5px;
    padding-top: 0px;
    width: 280px;
}
.left-side-seat-door{
    
    border: 1px solid gray;
    padding: 1rem 2.5rem;
}
.right-side-seat-driver{
    
    border: 1px solid gray;
    padding: 1rem 2.5rem;
}
.seats {
    display: flex;
    flex-wrap: wrap;
    margin-top: 11px;
    margin-left: -4px;
  }
  
.seat {
    text-align: center;
    margin: 4px;
    border: 1px solid gray;
    padding: 3px;
    min-height: 11px;
    cursor: pointer;
    font-size: 15px;
    width: 4rem;
  }
  .seat--sold {
    background-color: red;
    color: #fff;
  }
  
  .seat--booked {
    background-color: rgb(114, 109, 177);
  }
  
  .seat--selected {
    background-color: green;
  }
  
  .seat:hover {
    font-weight: bold;
  }

/* ----------------------- /seat-position Controll ----------------- */
/* ----------------------- Selected Seats Table ----------------- */
.selected-seats{
    border: 1px solid grey;
    border-collapse: collapse;
}
.selected-seats, th, td{
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 10px 20px;
}
/* ----------------------- /Selected Seats Table ----------------- */

