/* ------------------- Common css -------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(12, 12, 14);
    font-family: sans-serif;
    line-height: 1.8;
    color: aliceblue;
}

/* ------------------- /Common css -------------------------  */
/*---------------------- App css  ---------------------------*/

.app-title {
    margin-top: 50px;
    text-align: center;
    font-style: italic;
    font-family: Arial, sans-serif;
}

.app-container {
    width: 600px;
    max-width: 100%;
    margin: 22px auto;
    min-height: 300px;
    padding: 11px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 3px 2px #a86565;
}

/* ----------------------- /App css -------------------------- */
/* ----------------------- seat-position Controll ------------------ */

.seat-controls {
    display: flex;
    justify-content: space-around;
}

.seat-position {
    margin: 3px;
    min-height: 5px;
    min-width: 33px;
    display: flex;
    margin-right: 22px;
}

.seat-position-color{
    width: 2rem;
    border: 1px groove rgb(238, 238, 232);
}

.seat-position-text {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.4;
    margin-left: .5rem;
}

/* ----------------------- /seat-position Controll ----------------- */

